body{
  background-color: #eaf6f6;
}

hr{
    border-style:none ;
    background-color:none;
    border-top: 10px dotted;
    height: 0px;
    width: 3%;
  }

h1{
  color: #66BFBF
}

h3{
  color: #66BFBF
}

